html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

/* typo */
html {
	font-size: 100%;
}

body{ 
	color: #000000;
	font-family: Univers, Helvetica, sans-serif;
  	font-size: 1em;
  	line-height: 1.5em;
  	background-color: #fffcf5;
}

h1 {
	color: #990000;
	background-color: #fffcf5;
	font-size: 1.4em;
}

input {
	font-size: 1em;
}

button {
	background-color: #fedd99;
	font-size: 1em;
}

/* layout */

html {
 	height: 100%;
}

body{	
	width: 100%;
 	height: 100%;
}

#fenster {
	width: 100%;
 	height: 100%;
 	display: table;
}

#rahmen{
	width: 100%;
 	height: 100%;
    display: table-cell;
}

#innen{
	max-width: 768px;
	height: auto;
	margin: 1em auto;
}

#header{
	margin: 0.5em 0 0.5em 0;
	text-align: center;
}

#footer {
	padding: 0.5em;
	text-align: right;
}

/* main */

h1 {
	margin: 1em 0 0.5em 0;
}

form {
	width: 80%;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

legend {
	padding: 0.3em 0.5em;
}

label {
	display: none;
}

input {
	display: block;
	margin: 0.4em;
	padding: 0.3em 0.5em;
	border: 2px solid #cccccc;
}

button {
	margin: 0.4em;
	padding: 0.3em 0.5em;
	border: 0;
}


