html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

/* typo */
html {
	font-size: 100%;
}

body{ 
	font-family: Helvetica, sans-serif;
  	font-size: 1em;
  	line-height: 1.2em;
}

h1 {
	font-size: 1.2em;
	margin: 0 0 0.2em 0;
}

h2 {
	font-family: Maxima, sans-serif;
	font-size: 1.4em;
}

sup {
	font-size: 0.8em;
}

th {
	line-height: 1.2em;
}

#remark {
	font-size: 0.8em;
}

.btn {
	font-size: 1em;
}


.keywords {
	font-size: 0.8em;
}

.tag {
	font-family: Courier, monospace;
}

/* colors */

body {
	background-color: #fffcf5;
	color: #000000;
}

a {
	color: #336699;
}

h2, h2 a {
	color: #B24D2E;
}

#bar {
	background-color: #ADBD6C;
}

#company {
	color: #1e1e1e;
}

#menu {
  	background-color: #F7F6EE;
}

#content {
	background-color: #F7F6EE;
}

#content section {
	background-color: #ffffff;
}

.btn {
	color: #336699;
	background-color: #ffffff;
	border: 2px solid #d0d0d0;
}

.navbar-default {
	background-color: #F7F6EE;
}

.navbar-default .navbar-toggle {
    border-color: #333333;
} 

.navbar-default .navbar-toggle .icon-bar {
    background-color: #333333;
}

#submenu {
	color: #d0d0d0;
}

#submenu a {
	color: #dddddd;
}

#submenu.blog {
	background-color: #CC9933;
}

#submenu.chapter {
	background-color: #CC6633;
}

#submenu.contact {
	background-color: #993333;
}

#submenu.homework {
	background-color: #336699;
}

#submenu.tags {
	background-color: #996600;
}

#subbar {
	background-color: #D9D2C0;
}

/* layout */

html {
 	height: 100%;
}

body{	
	width: 100%;
 	height: 100%;
	padding: 1em 0;
}

#header{
}

#bar {
	width: 100%; 
	height: auto; 
	margin: 0.5em 0; 
	padding: 0;  
}

#main {	
}

.container {
	max-width: 878px;
}

.navbar-collapse {
 	padding: 0;
}

#company {
	float: right; 
	margin: 0 0 0 0.2em; 
	padding: 1em; 
	text-align: right;
}

#company .subtitle {
	margin: 0.3em 0;
}

#images {
	 float: left; 
	 margin: 0 0.2em 0 0; 
	 padding: 0;
}

#images img {
	display: none;
	width: 124px;
	height: 108px;
	padding: 0;
	margin: 0;
}

#menu {
  	margin: 0;
  	padding: 0 0.8em;
}	

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;	
}

#menu ul li {
	margin: 0;
	padding: 0.5em 0;
}

#menu ul li strong {
	margin: 0;
	padding: 0 0 0 0.5em;
}

/* Inhalt */

#content {
	padding: 0;
	margin: 0;
}

#content section {
	padding: 0.8em;
	margin: 1em 0;
}

#content dl {
	margin: 0; 
	padding: 1em 0;
}

#content dd {
	margin: 0 0 0.5em 0; 
	padding: 0;
}

#content h1 {
	margin: 0;
	padding: 0;
}

#content h2 {
	margin: 0 0 0.5em 0;
	padding: 0;
}

#content img.map {
	width: 100%;
	height: auto;
}

#content p {
	margin: 0.5em 0;
	padding: 0;
}

#content ol {
	margin: 0; 
	padding: 0.5em 2em;
}

#content ol.expand {
	display: none;
}

#content ul {
	text-indent: 1em;
	list-style: inside;
}

#content li {
	padding: 0.4em 0;
}

#content td {
	padding: 0.3em;
	vertical-align: top;
}

/*
#content th {
	color: #ffffff;
	background-color: #336600;
	padding: 0.3em 0.5em 0.1em 0.5em;
	text-align: left;
	vertical-align: bottom;
}

#content tr.dark {
	color: #000000;
	background-color: #cccccc;
}

#content td {
	padding: 0.2em 0.5em 0 0.5em;
	vertical-align: top;
}

#content td.tag {
	color: #000000;
	background-color: #99cc66;
	text-align: right;
}
*/

#content .chapter .subtitle {
	margin: 0.5em 0;
	padding: 0;
}

#content .chapter em {
	float: right;
	margin: 0;
	padding: 1em;
}

#content .chapter .plus {
	background-image: url(../../img/vendor/glyphicons/glyphicons_219_circle_arrow_down.png); 
	background-repeat: no-repeat;
	background-position: top;
}

#content .chapter .minus {
	background-image: url(../../img/vendor/glyphicons/glyphicons_218_circle_arrow_top.png); 
	background-repeat: no-repeat;
	background-position: top;
}

/* footer */

#subbar table {
	display: table;
	width: 100%; 
	height: auto;
	margin: 0.5em 0;
	padding: 0; 
}

#subbar td {
	display: table-cell;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0.4em 0.3em; 
	text-align: center;
	font-weight: bold;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}

#subbar td a {
	color: #333333;
}

#remark {
	text-align: right;
	margin: 0.5em 0;
	padding: 0;
}


/* form */

form {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

legend {
	padding: 0;
	margin: 0.5em 0;
}

label {
	display: none;
}

input {
	display: block;
	margin: 0.5em 0;
	padding: 0.3em 0.5em;
	border: 2px solid #d0d0d0;
}

button {
	margin: 0.5em 0.8em 0.5em 0;
	padding: 0.3em 0.5em;
}

@media (min-width: 512px) { 

	#images img:first-child {
		display: inline;
		margin: 0;
		padding: 0;
		border-left: 2px solid #ffffff;
		border-right: 2px solid #ffffff;
	}
}

@media (min-width: 768px) {

	#bar {
		margin: 0;  
	}
 
	#images img:nth-child(2) {
		display: inline;
		margin: 0;
		padding: 0;
		border-right: 2px solid #ffffff;
	} 

	#menu {
  		margin: 0.5em 0;
  		padding: 0.4em;
	}

	#menu ul li {
		float: left;
		margin: 0 0.5em 0 0;
		padding: 0;
	}
	
	#menu ul li span {
		display: none;	
	}
	
	#footer {
		color: #d0d0d0;
	}
	
	#subbar {
		display: none;
	}
		
}

@media (min-width: 992px) {

	#images img:nth-child(3) {
		display: inline;
		margin: 0;
		padding: 0;
		border-right: 2px solid #ffffff;
	} 

	#header {
		margin: 12px 0;
		padding: 0;
	}

	#images {
		margin: 0 10px 0 122px;
		padding: 0;
	}
  
  	#menu {
		width: 124px;
  		padding: 24px 0;
  		margin: 0;
	}
	
	#menu ul li {
		margin: 12px 0 0 12px;
		padding: 0;
		width: 100px;
		height: 50px;
		text-align: center;
		font-size: 0.8em;
		clear: both;
	}
	
	#menu ul li a span {
		display: block;
		width: 42px;
		height: 36px;
		margin: 0 28px;
		padding: 4px;
		border-radius: 4px;		
	}
	
	#menu ul li.active span{
		background-color: #D9D2C0;	
	}
	
	#menu ul li a strong {
		display: none;	
	}
	
	#menu ul li a:hover strong {
		display: block;
		margin: 0;
	}
	
	#submenu {
		display: block;
		margin: 0 18px 0 124px;
		padding: 4px 14px 2px 14px;
	}
	
	#remark {
		margin: 8px 18px 8px 124px;
		padding: 0;
	}
	
}




